

body {
    font-family: system-ui, -apple-system;
    margin: 0;
    padding: 0;
    background-image: #fff;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    position:relative;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #271493;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #271493;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav a:hover::before {
    width: 100%;
    visibility: visible;
}
.logo img {
  max-height: 100px; 
  border-radius: 20%; 
  display: block; 
  margin-left: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.0s ease-out forwards;
}

@keyframes fadeInUp {
  from {
  opacity: 0;
  transform: translateY(20px);
  }
  to {
  opacity: 1;
  transform: translateY(0);
  }
  }
.header-content {
    text-align: left;
    display: flex;
}
nav a:hover {
    color: #271493;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #9f4848;
    text-align: center;
    padding: 20px;
    
}

header h1 {
  font-size: 55px;
    margin: 0;
}
nav {
    display: flex;
    color:#333;
}
#about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 20px;
}
.about-content {
    width: 45%; 
    margin-top: 35px;
    font-size: 40px;
}

.about-content h2 {
    margin-top: 170px;
    margin-bottom: 15px;

}

.about-content p {
    font-size: 35px;
    color: #9a9a9a;
    
}
.buttons {
    margin-top: 20px;
}

.contact-button,
.resume-button {
    display: inline-block;
    padding: 15px 30px;
    margin-right: 20px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-button {
    background-color: #271493;
}

.resume-button {
    background-color: #271493;
}

.contact-button:hover,
.resume-button:hover {
    background-color: #660d0d;
}

.about-image {
    width: 40%; 
}

.about-image img {
    border-radius: 50px; 
    max-width: 100%;
    height: auto;
    margin-left: 10px;
}

.social-icons {
    margin-top: 30px;
    margin-left: 15px;

}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.social-icons img {
    width: 50px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover img {
    transform: scale(2.0); 
}
#about,
#whatIDo, 
#skills,
#certificate,
#projects,
#resume,
#footer,
#contact {
    padding: 20px;
    height: 80vh;
    opacity: 0; /* Initial invisible state */
    transform: translateY(20px); /* Begin slightly off screen */
    transition: opacity 1s ease-out, transform 1s ease-out; 
}
#middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.cards .red {
  background-color: #7062bd;
}

.cards .blue {
  background-color: #7062bd;
}

.cards .green {
  background-color: #7062bd;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.icon-title {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
  transition: color 0.3s ease-in-out;
}

.floating-icon:hover .icon-title {
  color: #321099;
}

.icon-title {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
  transition: color 0.3s ease-in-out;
}

.floating-icon:hover .icon-title {
  color: #190b5d;
}
#projects{
    margin-bottom: 30px;
    margin-left: 50px;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.button {
    appearance: none;
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-bottom: 50px;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 125, 171, 0.15);
    border-radius: 10px;
  }
  
  .modal__header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal__body {
    padding: 1rem 1rem;
  }
  
  .modal__footer {
    padding: 0 1.5rem 1.5rem;
  }
  
  .modal__title {
    font-weight: 700;
    font-size: 1.25rem;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
  }
  
  .button--icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
  }
  
  .button--icon:focus, .button--icon:hover {
    background-color: #ededed;
  }
  
  .button--primary {
    background-color: #007dab;
    color: #FFF;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.875rem;
  }
  
  .button--primary:hover {
    background-color: #006489;
  }
  
  .input {
    display: flex;
    flex-direction: column;
  }
  
  .input + .input {
    margin-top: 1.75rem;
  }
  
  .input__label {
    font-weight: 700;
    font-size: 0.875rem;
  }
  
  .input__field {
    display: block;
    margin-top: 0.5rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    transition: 0.15s ease;
  }
  
  .input__field:focus {
    outline: none;
    border-color: #007dab;
    box-shadow: 0 0 0 1px #007dab, 0 0 0 4px rgba(0, 125, 171, 0.25);
  }
  
  .input__field--textarea {
    min-height: 100px;
    max-width: 100%;
  }
  
  .input__description {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #8d8d8d;
  }
  
  #skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
    height: 80vh;

}

.skills-content {
    width: 55%;
}

.skills-image {
    width: 70%; 
}
@keyframes reloadAnimation {
    0% {
        width: 0;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }

    80% {
        width: 80%;
    }
}
.skill-bar {
    display: flex;
    flex-direction: column;
}

.skill-category {
    margin-bottom: 20px;
}

.skill-category h3 {
    margin-bottom: 5px;
}

.skill-level {
    height: 30px;
    width: 50px;
    background-color: #271493;
    animation: reloadAnimation 4s; 
}

.skills-content {
    width: 45%; 
}

.skills-image {
    width: 45%; 
}
.skills-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#certificate {
    padding: 30px;
    margin-left: 20px;
    height: 80vh;

}

.certification-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certification-card {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.certification-card:hover {
    transform: scale(1.05);
}

.certification-image {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
}

.certification-content {
    padding: 40px;
}

.certification-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.certification-description {
    font-size: 1rem;
    color: #555;
}
.projects-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    padding: 20px;
    width: 330px;
    min-height: 370px;
    margin-top: 10px;
    border-radius: 20px;
    background: #e8e8e8;
    overflow: hidden;
    box-shadow: 5px 5px 6px #dadada,
                 -5px -5px 6px #f6f6f6;
    transition: 0.4s;
  }
  
  .card:hover {
    translate: 0 -15px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
  }
  
  .card-image {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 10px 15px #c3c3c3,
              inset -8px -10px 15px #cfcfcf;
  }
  
  .card-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
  }
  
  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #636363;
  }
  
  .by-name {
    font-weight: 700;
  }
  .e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 240px;
    height: 330px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  #whatIDo {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.what-i-do-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.what-i-do-image {
    width: 40%;
}

.what-i-do-image img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.what-i-do-details {
    width: 55%;
    padding-left: 20px;
}

.what-i-do-details h2 {
    margin-bottom: 15px;
}

.icon-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.animated-icon {
    width: 50px;
    height: 50px;
    /* Add animation styles here */
}

.three-lines {
    font-size: 16px;
    line-height: 1.5;
}

.line {
    margin-top: 10px;
}
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
@media only screen and (max-width: 768px) {
    .certification-card {
        width: 100%;
    }
}

.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }
  